* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    


}
body {
        background-color: rgb(25, 25, 25);
        min-height: 100vh;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    font-size: 25px;
    border: 5px solid navy;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-image: url(./weather-photos/1283869-large-hurricane-wallpaper-2048x2048.jpg);
    background-size: cover;
    background-position: fixed;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #1332fe,
              0 0 0.8rem #bc13fe,
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe;
}

header h3 {
    padding: 20px;
    margin: 10px;
    background-color: transparent;
    color: rgb(red, green, blue);
    text-shadow: -3px 5px 2px black;
}

main {
    display: flex;
    flex-wrap: wrap;
    
}
aside {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
   
    

}
section {
    flex: 3;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#search-form {
    background-image: url(./weather-photos/stuinsf-scaled.jpg);
    border: 5px solid navy;
    border-radius: 20px;
    height: 200px;
    margin-bottom: 20px;
    min-width: 250px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #1332fe,
              0 0 0.8rem #bc13fe,
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe;
}

h3 {
    background-color: blue transparent;
    text-align: flex-start;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 25px
}

#search-input {
    text-align: center;
    height: 30px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 20px;
    background-color: aliceblue;
}

.search-form button {
    background-color: rgb(94, 156, 176);
    border-radius: 20px;
    height: 30px;
    margin: 20px;
    font-size: 20px;
    color: black;
    font-weight: 400;
}
.search-form button:hover {
    transform: scale(1);
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #1332fe,
    0 0 0.8rem #1332fe,
    0 0 2.8rem #1332fe,
    inset 0 0 1.3rem #bc13fe;
    
}

#history-container {
    background-image: url(./weather-photos/stuinsf-scaled.jpg);
    border: 5px solid navy;
    border-radius: 20px;
    height: fit-content;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #1332fe,
              0 0 0.8rem #bc13fe,
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe;
    
}

.weather-card {
    background-image: url(./weather-photos/stuinsf-scaled.jpg);
    border: 5px solid navy;
    border-radius: 20px;
    height: fit-content;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #1332fe,
              0 0 0.8rem #bc13fe,
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe;
    
}  

.weather-card ul {
    list-style: none;
    border-radius: 20px;
    height: 180px;
    width: 180px;
    background-color: transparent;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #1332fe,
              0 0 0.8rem #bc13fe,
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe;
}



.forecast-container {
    background-image: url(./weather-photos/stuinsf-scaled.jpg);
    border: 5px solid navy;
    border-radius: 20px;
    height: fit-content;
    min-width: 300px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;     
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #1332fe,
              0 0 0.8rem #bc13fe,
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe;

  
}

#today-info {
    margin-left: 20px;
    min-width: 300px;
    border-radius: 20px;
    width: 900px;
    flex-shrink: 3;
}

.user-info {
    margin-right: 20px;
    margin-left: 20px;
    min-width: 300px;
}

.forecast-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    flex-direction: row;
    height: fit-content;
    list-style: none;
    background-color: transparent;
    
    
}

.forecast-cards ul{
    list-style: none;
    border-radius: 20px;
    height: 150px;
    width: 100px;
    background-color: transparent;
    box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #1332fe,
              0 0 0.8rem #bc13fe,
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe;
}

.current-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    flex-direction: row;
    height: 300px;
    list-style: none;
    background-color: transparent;
}
